<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Excersise 1</title>
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css">
  <style type="text/css">
    body {
      font-family: monospace;
      padding: 20px;
      font-size: 2em;
    }

    .can {
      color: green;
    }

    .cant {
      color: red;
    }
    .parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}
.photoframe{
  border:3px solid gray;
  padding: 30px;
  background-color: #f4f4f4;;
}
  </style>
  <script src="https://unpkg.com/vue@3.4.0"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="photoUrl">
    <button @click="addPhoto">Add photo</button>
    <div v-if="photos.length > 0" class="parent">
      <div v-for="photo in photos" :key="photo.id" class="photoframe">
        <img :src="photo.url" style="width:200px"/>
        <div>
          <button @click="likePhoto(photo)">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="32px" width="32px" xmlns="http://www.w3.org/2000/svg"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z" :fill="photo.liked ? 'red' : 'black'"></path></svg>
          </button>
          <button @click="removePhoto(photo)">delete</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const { createApp, ref, computed } = Vue;
    const App = {
      setup() {
        const photoUrl = ref('')
        const photos = ref([])
        const addPhoto = () => {
          photos.value.push({url: photoUrl.value, liked: false, id: photos.value.length + 1})
        }
        const removePhoto = (photo) => {
          photos.value.forEach((item, index) => {
            if(item.id === photo.id){
              photos.value.splice(index, 1)
            }
          });
        }
        const likePhoto = (photo) => {
          photos.value.forEach(item => {
            if(item.id === photo.id){
              item.liked = !item.liked
            }
            console.log(photo)
          });
        }
        
        return {
          /* What's missing here? */
          addPhoto, photoUrl, photos, removePhoto, likePhoto
        }
      },
    };
    createApp(App).mount('#app');
  </script>
</body>

</html>