<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 3.4 Template</title>
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css">
  <style type="text/css">
    body {
      font-family: monospace;
      padding: 20px;
      font-size: 2em;
    }
  </style>
  <script src="https://unpkg.com/vue@3.4.0"></script>
</head>

<body>
  <div id="app">
    <div>
      Vue
      {{message}}
      {{appendItems}}
      <input type="number" name="age" v-model="age" />  <span>type age</span>
      <p :class="changeColor">{{canDrink}}</p>
      <p :class="changeColor">{{message}}</p>
      <input type="checkbox" name="color?" v-model="color" id="">
      <span>add color?</span>
    </div>
  </div>
  <script>
    const { createApp, ref,computed } = Vue;
    const App = {
       setup() {
        const age = ref(18)
        const canDrink = computed(()=>{
          if(age.value >=21){
            return true;
          }
          return false
        })
        const message = ref('world');
        const color = ref(true)
        const changeColor = computed(()=>{
          if(color.value === true && canDrink.value === false){
            return 'text-red'
          }
          else if(canDrink.value == true && color.value === true){
            return 'text-green'
          }
          return ''
       })
        const appendItems = computed(()=>{
          if (message.value === 'world'){
            return `hello ${message.value}`
          }
          return message.value + ' from computed!'
        })
        message.value +=  'hello'
        message.value = 'hello'
        return{
          message, appendItems, changeColor, color, age, canDrink
        }
       },
     };

    createApp(App).mount('#app');
  </script>
  <style>
    .text-red{
      color: red;
    }
    .text-green{
      color:green;
    }
  </style>
</body>

</html>